#starbg {
  width: 100%;
  height: 100%;
  background: url("밤하늘별.jpg") center 0 / 100% repeat-y;
  animation: movebg 60s linear infinite;
  position: fixed; z-index: -1000;
}


@keyframes movebg {
  0% {background-position:center 0;}
  100% {background-position:center 804px;}
}