#starbg {
  -moz-animation: bg 60s linear infinite;
  -webkit-animation: bg 60s linear infinite;
  -ms-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
/* Set your background with this */

  background: #36393f url("밤하늘별.jpg") top right;
  background-repeat: repeat-y;
  width: 100%;
  right: 0;
  opacity: 1;
  position: fixed; z-index: -1000;
  bottom: 0;
}

@-moz-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(0,2000px,0);
    -webkit-transform: translate3d(0,2000px,0);
    -ms-transform: translate3d(0,2000px,0);
    transform: translate3d(0,2000px,0);
  }
}

@-webkit-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(0,2000px,0);
    -webkit-transform: translate3d(0,2000px,0);
    -ms-transform: translate3d(0,2000px,0);
    transform: translate3d(0,2000px,0);
  }
}

@-ms-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(0,2000px,0);
    -webkit-transform: translate3d(0,2000px,0);
    -ms-transform: translate3d(0,2000px,0);
    transform: translate3d(0,2000px,0);
  }
}

@keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(0,2000px,0);
    -webkit-transform: translate3d(0,2000px,0);
    -ms-transform: translate3d(0,2000px,0);
    transform: translate3d(0,2000px,0);
  }
}

#starbg {
  background-size: auto 50vw;
  height: 1000000px;
}